ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3edf7;
  display: flex;
  justify-content: center;
}

ul li {
  float: left;
  border-right: 1px solid #bbbbbb;
  border-style: solid;
  border-radius: 10px;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: grey;
}

h1 {
  text-align: center;
  color: black;
  font-family: Crimson Text;
  font-size: 64px;
}

body {
  background-image: linear-gradient( 
    rgba(248, 0, 166, 0.5),
    rgba(162, 2, 233, 0.5),
    rgba(9, 1, 255, 0.5));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}












